@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
Welcome @ViewBag.Name

<a asp-action="Create" class="btn btn-success" >New Product</a>
<table class="table table-dark" >
    <tr>
        <td>@Html.DisplayNameFor(m=>m.ProductName)</td>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td> Operations </td>
    </tr>
    @foreach(var item in Model){
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning">Edit</a>
                <a asp-action="Details" class="btn btn-secondary">Details</a>
                <a asp-action="Delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>